<div class="hero-unit">
  <h1>Sign Up. Get Matched. Give &amp; Receive Gifts.</h1>
  <p>Want to get to know your fellow Double Primers? Enjoy giving and receiving gifts? Lucky you! Double Prime gifts is a company-wide gift exchange, modeled after Reddit Gifts. Just sign up to get started.</p>
  <p><% if user_signed_in? %>
    <%= link_to "Get Started &raquo;".html_safe, dashboard_path, :class => "btn btn-primary btn-large" %> 
  <% else %>
    <%= link_to "Get Started &raquo;".html_safe, new_user_session_path, :class => "btn btn-primary btn-large" %> 
  <% end %>
  <a href="/how_it_works" class="btn btn-large">How It Works &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>The Gift Blog</h2>
    <p>Check back here later after a few gifts have been received to see what sort of loot everyone got.</p>
    <p><a class="btn" href="#">View blog &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>The Rules</h2>
    <p>All you need to do is sign up and send a gift to your match valued at no less than $20 by 12/21/2012</p>
    <p><a class="btn" href="#">Real the Rules &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>TL;DR</h2>
    <p>For the lazy: watch a short screencast on how it works:</p>
  </div>
</div>
