<div class="hero-unit">
  <h1>Just three simple steps to gifty awesomeness.</h1>
  <p>Our social team gremlins have been busy coming up with great ideas for getting our pasty butts out of the development chairs and out of the house to meet-ups and baseball games and even set up online gaming events - but today, they bring to you Double Prime's Most Amazing, Super, High-Fidelity, Gift Combobulator Mechanism - or MASHFGCM for short.</p>
  <p>As part of the MASHFGCM, Double Prime has secured a top television psychic to help with building perfect gift matching. Sign up today, fill out your profile and with some luck and magic, get matched. Learn new and exciting things about your teammates (Who is the wine snob? Who still collects erasers? Whose favorite movie is Critters? Who believes we really hired a psychic to help match people?). Most importantly, our goal is to encourage all of you to have fun and be creative.</p>
</div>


<div class="row">
  <div class="span4">
    <h2>1: Sign up</h2>
    </p>Signing up is the easiest thing you will do all year outside of time sheets. Just create an account, add in your address and provide our psychic with some information about yourself, your hobbies, likes and dislikes and anything else you want people to know about you (except for that incident in the 3rd grade, we will just keep that between you and I &gt;wink, wink&lt;). Then join a gift exchange! Once we have all the profiles, our top secret nano-bots (presumably hired by the psychic to subcontract) will scan through all your dirty little secrets and match you with another Double Primer for the gift exchange.</p>
  </div>

  <div class="span4">
     <h2>2: Send Gifts</h2>
      <p>Once you're signed up and matched, you will have a week to find and send the perfect gift to your recipient. The minimum gift amount is $20, which means you can spend more, but do not spend less. Be creative, have fun and feel free to consult the online psychic - I mean, we are already paying her, we may as well use her."</p>
    </div>

  <div class="span4">
    <h2>3: Post Your Loot</h2>
    <p>Once you've received your gift, sign back to brag about your awesome gift with a post and picture or two.</p>

</div>
