<section id="exchange">
  <header>
    <h2><%= @exchange.name %></h2>
    <p><small>This exchange is: <%= @exchange.state_description %></small></p>
  </header>
  <%= markdown @exchange.summary %>

  <% if current_user.role? :admin %>
    <h4>Participating Users</h4>
    <ul>
    <% for user in @exchange.users %>
      <li><%= link_to user.name, user %></li>
    <% end %>
    </ul>
  <% end %>
</section>
