<section id="exchange">
  <header>
    <h2><%= @exchange.name %></h2>
    <p><small>This exchange is: <%= @exchange.state_description %></small></p>
  </header>
  <%= markdown @exchange.summary %>

</section>
